           * {
            margin: 0;
            padding: 0;
        }
        
        html {
            scroll-behavior: smooth;
        }
        /**************************************************************/
        /******************SCROLL BAR**********************************/
        
         ::-webkit-scrollbar {
            width: 0.5em;
        }
        
         ::-webkit-scrollbar-track {
            background: rgba(255, 255, 255, 0.11);
        }
        
         ::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.705);
            border-radius: 1em;
        }
        
         ::-webkit-scrollbar-thumb:hover {
            background: white;
        }
        /*********************************/
        
        a {
            color: white;
            text-decoration: none;
        }
        
        body {
            background-color: #0d1c30;
            font-family: sans-serif;
            background-color: font-family: 'Roboto', sans-serif;
        }
        /** HEADER I NAVIGACIJSKA LISTA **/
        
        header {
            width: 100%;
            padding-top: 1.5em;
            padding-bottom: 1.5em;
            z-index: 3;
            position: fixed;
            top: 0px;
            background-color: #0d1c309c;
            backdrop-filter: blur(10px);
            -webkit-box-shadow: 0px 7px 26px -15px rgba(0, 0, 0, 0.74);
            -moz-box-shadow: 0px 7px 26px -15px rgba(0, 0, 0, 0.74);
            box-shadow: 0px 7px 26px -15px rgba(0, 0, 0, 0.74);
        }
        
        nav {
            width: 60%;
            margin: auto;
        }
        
        nav ul {
            margin: 0px;
            padding: 0px;
        }
        
        @keyframes prozirnost {
            0% {
                opacity: 0;
            }
            100% {
                opacity: .7;
            }
        }
        
        nav li {
            display: inline-block;
            font-size: 1.1em;
            opacity: .7;
            margin-right: 1em;
            color: white;
            padding: 0.4em 0.1em 0.4em 0em;
            padding-bottom: 0.3em;
            transition: opacity .2s;
            border-bottom: 2px solid rgba(255, 255, 255, 0);
            animation: navigacija 2s;
        }
        
        @keyframes navigacija {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 0.7;
            }
        }
        
        nav li:hover {
            opacity: 1;
            cursor: pointer;
            border-bottom: 2px solid white;
        }
        
        nav ul button {
            background: none;
            cursor: pointer;
            outline: inherit;
            border: 2px solid rgba(0, 0, 0, 0.089);
            padding: 0.5em 0.7em 0.5em 0.7em;
            border-radius: 1.5em;
            font-size: 1em;
            color: white;
            opacity: .7;
            float: right;
            transition: border .2s;
            background-color: #7b0048;
        }
        
        nav ul button:hover {
            opacity: 1;
            border: 2px solid rgba(255, 255, 255, 0.26);
        }
        /* ----------------------------------------------*/
        
        .hero {
            width: 100%;
            height: 100vh;
            position: relative;
            background-image: url('img/unizg.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 80%;
        }
        
        .hero .sadrzaj {
            opacity: 0.9;
            font-size: 1.05em;
        }
        
        .container-sredina {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 60%;
        }
        
        .hero-cont-box {
            float: left;
            width: 50%;
        }
        
        .hero-cont-box>img {
            width: 50%;
            display: block;
            margin: auto;
            border-radius: 0.9em;
            box-shadow: 20px 6px 5em rgba(27, 24, 25, 0.575);
            transform: scale(1.2) perspective(250px) rotateZ(10deg) rotateY(-15deg);
            animation: iksica 3s ease-in-out infinite alternate;
        }
        
        @keyframes iksica {
            from {
                transform: scale(1.2) perspective(250px) rotateY(0deg);
            }
            to {
                transform: scale(1.2) perspective(250px) rotateZ(10deg) rotateY(-15deg);
            }
        }
        
        .hero-cont-box button {
            background: none;
            padding: 0;
            cursor: pointer;
            outline: inherit;
            border: 2px solid rgba(255, 255, 255, 0.589);
            border-radius: 1.5em;
            padding: 0.6em 1.2em 0.6em 1.2em;
            font-size: 1.1em;
            color: white;
            margin-top: 2em;
            transition: border .2s;
        }
        
        .hero-cont-box button:hover {
            border: 2px solid white;
        }
        
        .hero-cont-box>.naslov {
            font-size: 2.7em;
        }
        /* ---SADRZAJ NA STRANICI---- */
        
        .naslov {
            color: white;
            margin: 0px;
            font-size: 2.2em;
            margin-bottom: 0.5em;
            padding-right: 20%;
            font-family: 'Piazzolla', serif;
            line-height: 1.2em;
            animation: naslov-ani 1s;
        }
        
        @keyframes naslov-ani {
            0% {
                transform: translateY(-1em);
                opacity: 0;
            }
            100% {
                transform: translateY(0em);
                opacity: 1;
            }
        }
        
        .podnaslov {
            margin: 0px;
            margin-bottom: 0.5em;
            font-family: 'Piazzolla', serif;
        }
        
        .sadrzaj {
            color: white;
            margin: 0px;
            margin-bottom: 0.8em;
            padding-right: 15%;
            animation: sadrzaj 0.9s;
        }
        
        @keyframes sadrzaj {
            from {
                transform: translateY(1em);
                opacity: 0;
            }
            to {
                transform: translateY(0em);
                opacity: 0.9;
            }
        }
        
        .desno {
            text-align: right;
            padding-left: 15%;
            padding-right: 0;
        }
        /*-----------------------------------------------*/
        
        .container-box {
            width: 70%;
            background-color: white;
            margin: auto;
            margin-top: 1em;
            padding: 4em 6em 4em 6em;
            border-radius: .7em;
            display: block;
            margin-bottom: 3em;
            box-sizing: border-box;
            transform: perspective(150px) rotateY(0.4deg);
        }
        
        .container-box>.naslov {
            text-align: center;
            padding-right: 0;
            color: black;
            margin-bottom: .7em;
        }
        
        .container-box .podnaslov {
            line-height: 1.3em;
            margin-top: 1em;
            padding-left: 10%;
        }
        
        .container-box .sadrzaj {
            color: black;
            padding: 0px;
            padding: 0 10% 0 10%;
        }
        
        .izgled-sredina {
            width: 100%;
            overflow: hidden;
        }
        
        .izgled-cont-box {
            width: 33.3%;
            float: left;
        }
        
        .izgled-cont-box>img {
            width: 85%;
            margin: auto;
            margin-bottom: 3em;
            box-shadow: 0px 10px 20px 3px #94042a48;
            border-radius: 0.9em;
            display: block;
            transform: perspective(550px) rotateY(-5deg) scale(.9);
            box-shadow: 2px 6px 25px -3px rgba(148, 4, 42, 0.281);
        }
        /***************/
        
        .iksica-okvir-vanjski {
            position: relative;
            width: 80%;
            margin: auto;
            min-height: 25em;
            padding-top: 1em;
        }
        
        .iksica-okvir {
            width: 100%;
            position: absolute;
            transform-style: preserve-3d;
            animation: iks 5s infinite;
        }
        
        .iksica-prednja-str,
        .iksica-straznja-str {
            width: 100%;
            padding-bottom: 150%;
            border-radius: 0.9em;
            background-size: cover;
            top: 0px;
            position: absolute;
            box-shadow: 0px 0px 0.5em rgba(27, 24, 25, 0.151);
            background-position: center center;
        }
        
        .iksica-prednja-str {
            background-image: url(img/Iks1.png);
            backface-visibility: hidden;
        }
        
        .iksica-straznja-str {
            background-image: url(img/Iks-iza.png);
            transform: rotateY(180deg);
        }
        
        @keyframes iks {
            0% {
                transform: perspective(1300px) rotateX(10deg) rotateY(-10deg);
            }
            50% {
                transform: perspective(1300px) rotateZ(5deg) rotateY(180deg);
            }
            100% {
                transform: perspective(1300px) rotateX(10deg) rotateY(-10deg);
            }
        }
        /****************/
        
        section {
            width: 60%;
            margin: auto;
            overflow: auto;
            /*background-color: lightskyblue;*/
            margin-bottom: 7em;
        }
        
        section .sadrzaj {
            opacity: 0.8;
        }
        
        .sec-half {
            float: left;
            width: 50%;
        }
        
        .sec-half img {
            width: 60%;
            display: block;
            margin: auto;
        }
        
        .x-zg {
            width: auto;
            box-sizing: border-box;
            min-height: 15em;
            background-image: url('img/menza.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 110%;
            border-radius: 1em;
            position: relative;
        }
        
        .x-zg img {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 40%;
        }
        /*NOVO*/
        /*--------------FORMA---------------------------------*/
        
        .forma-bkgd {
            width: 100%;
            overflow: auto;
            background-image: url('img/student.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        
        .forma-bkgd .naslov,
        .forma-bkgd .sadrzaj {
            color: black;
            padding-right: 0;
        }
        
        .forma-bkgd .naslov {
            margin-top: 2.5em;
        }
        
        .forma-bkgd .sadrzaj {
            margin-bottom: 3em;
        }
        
        .forma-okvir {
            backdrop-filter: blur(30px);
            background-color: rgba(255, 255, 255, 0.856);
            overflow: auto;
            padding: 1.8em;
            border-radius: .9em;
            margin-top: 2em;
            max-width: 22em;
        }
        
        .forma-okvir input[type=text],
        .forma-okvir input[type=number],
        .forma-okvir label[for="SMS_obavijest"],
        .forma-okvir label[for="fizicka"],
        .forma-okvir label[for="virtualna"],
        .forma-okvir input[type=email],
        select {
            width: 100%;
            box-sizing: border-box;
            padding: 0.8em;
            border-radius: 0.5em;
            font-size: 1em;
            font-family: 'Roboto', sans-serif;
            margin-bottom: 0.5em;
            border: none;
            background-color: white;
            border: 1px solid transparent;
            display: block;
            color: black;
        }
        
        .forma-okvir input[type=radio],
        .forma-okvir input[type=checkbox] {
            margin-right: 0.5em;
        }
        
        .forma-okvir input[type=text]:focus,
        .forma-okvir input[type=number]:focus,
        select:focus,
        .forma-okvir input[type=text]:hover,
        .forma-okvir input[type=number]:hover,
        .forma-okvir input[type=email]:hover,
        .forma-okvir label[for="SMS_obavijest"]:hover,
        select:hover {
            outline: none;
            border: 1px solid darkgray;
        }
        
        .forma-okvir label[for="fizicka"]:hover,
        .forma-okvir label[for="virtualna"]:hover {
            cursor: pointer;
            background-color: rgba(169, 169, 169, 0.199);
            border: 1px solid darkgray;
            color: black;
        }
        
        .forma-okvir label[for="SMS_obavijest"]:hover {
            cursor: pointer;
        }
        
        .forma-okvir fieldset {
            border: none;
            margin-bottom: 0.5em;
        }
        
        .forma-okvir fieldset label {
            display: block;
        }
        
        .forma-okvir fieldset legend {
            font-family: 'Piazzolla', serif;
            margin-bottom: 0.5em;
            color: rgb(88, 88, 88);
        }
        
        .forma-okvir input[type=submit] {
            width: 40%;
            box-sizing: border-box;
            margin: auto;
            display: block;
            padding: 0.7em;
            border-radius: 10em;
            font-size: 1em;
            font-family: 'Roboto', sans-serif;
            border: 2px solid #043268;
            background-color: transparent;
            color: #043268;
            cursor: pointer;
            margin-top: 1em;
            margin-bottom: 0.5em;
        }
        
        .forma-okvir input[type=submit]:hover {
            background-color: #043268;
            color: white;
            box-shadow: 0px 0px 25px -4px rgba(4, 51, 104, 0.479);
        }
        
        .forma-okvir input[type=submit]:focus {
            outline: none;
        }
        
        .forma-okvir input[type=reset] {
            border: none;
            background-color: transparent;
            cursor: pointer;
            width: 100%;
            box-sizing: border-box;
            font-family: 'Roboto', sans-serif;
        }
        
        .forma-okvir input[type=reset]:focus {
            outline: none;
        }
        
        .forma-okvir input[type=reset]:hover {
            opacity: 0.5;
        }
        /***************TABLICA********************/
        
        table {
            width: 70%;
            max-width: 1300px;
            color: white;
            border-collapse: collapse;
            margin: auto;
            margin-top: 4em;
        }
        
        .tablica-naslov {
            text-align: center;
            padding: 0px;
            margin-top: 2em;
        }
        
        table th {
            border-bottom: 2px solid white;
            padding-bottom: 1em;
            font-family: 'Piazzolla', serif;
        }
        
        table tr td {
            padding: 1em;
            text-align: center;
            border-bottom: 2px solid white;
            transition: background-color .1s;
        }
        
        tr:hover td {
            background-color: rgba(238, 238, 238, 0.281);
        }
        /************************************/
        
        footer {
            width: 100%;
            background-color: rgb(223, 223, 223);
        }
        
        .footer-container {
            width: 60%;
            margin: auto;
            background-image: url('img/unizg.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 80%;
            overflow: auto;
            min-height: 14em;
            padding-bottom: 3em;
        }
        
        .footer-trecina {
            width: 33.33%;
            float: left;
            padding-right: 3em;
            box-sizing: border-box;
            color: white;
            margin-top: 3em;
        }
        
        .footer-trecina img {
            width: 100%;
        }
        
        .footer-trecina h3 {
            font-family: 'Piazzolla', serif;
            margin-bottom: 1em;
            color: black;
        }
        
        .footer-trecina p {
            color: rgba(0, 0, 0, 0.589);
        }
        
        .testno {
            width: 17.5%;
            transform: scale(0.8) perspective(550px) rotateZ(0deg) rotateY(30deg);
            margin-right: -5em;
            transition: 0.3s;
            border-radius: 0.8em;
            border-radius: 10px;
            overflow: auto;
        }
        
        .testno:hover {
            transform: translateY(-0.5em) scale(0.9) perspective(250px) rotateZ(0deg) rotateY(5deg);
            position: relative;
            margin-right: -3em;
        }
        
        .testno-grupa {
            width: 70%;
            margin: auto;
            margin-bottom: 4em;
            text-align: center;
            overflow: hidden;
            transform: translatex(-3em);
        }
        
        @media only screen and (max-width: 700px) {
            header {
                position: static;
            }
            nav li {
                display: block;
            }
            nav ul button {
                float: left;
                border: none;
                padding: 0.4em 0em;
                font-size: 1.1em;
            }
            .hero-cont-box {
                float: none;
                width: 100%;
            }
            .sec-half {
                float: none;
                width: 100%;
            }
            .hero-cont-box>img {
                width: 60%;
                display: block;
                transform: scale(0.8) perspective(250px) rotateY(-10deg);
            }
            @keyframes iksica {
                from {
                    transform: scale(0.8) perspective(250px) rotateY(0deg);
                }
                to {
                    transform: scale(0.8) perspective(250px) rotateZ(0deg) rotateY(-10deg);
                }
            }
            section,
            .container-sredina {
                width: 80%;
                margin-bottom: 3em;
            }
            .container-box {
                width: 85%;
                padding: 2em;
            }
            .izgled-cont-box {
                width: 100%;
                float: none;
            }
            section .sadrzaj {
                text-align: left;
                padding: 0px;
            }
            section .desno {
                text-align: left;
                padding: 0px;
            }
            nav {
                width: 80%;
            }
            .forma-bkgd {
                background-image: none;
                color: white;
            }
            .forma-bkgd .naslov,
            .forma-bkgd .sadrzaj {
                color: white;
            }
            .izgled-cont-box>img {
                width: 80%;
                margin-bottom: 0px;
            }
            .forma-okvir {
                padding: 1.3em;
            }
            table tr td {
                padding: 0.3em;
            }
            .footer-trecina {
                width: 100%;
                margin-top: 0.5em;
                padding: 0;
            }
            .footer-trecina img {
                margin-top: 1em;
            }
            .footer-trecina h3 {
                margin-bottom: 0.5em;
            }
            .testno-grupa {
                display: none;
            }
        }
